
@{
    ViewBag.Title = "About";
}

<div class="mt-5 text-light text-center">
    <h2 style="margin-top: 2em" class="text-info">PROYECTO FINAL CV# 2021</h2>
</div>
<div class="row">
    <h2 class="text-primary text-center mb-5">Equipo de desarrollo del proyecto <strong class="wcv rounded">CV#</strong></h2>
</div>
<div class="row d-inline-flex justify-content-between">
    <!--Carta bootstrap ANGEL-->
    <div class="card mb-3 border-primary bg-transparent text-info" style="max-width: 540px;">
        <div class="row g-0">
            <div class="col-md-4">
                <img class="img-fluid p-0 mt-4" src="~/Recursos/angelteam.png" alt="imagen angel">
            </div>
            <div class="col-md-8">
                <div class="card-body border-primary">
                    <div class="card-header border-primary">
                        <h5 class="card-title">Angel Azucena</h5>
                    </div>
                    <p class="card-text">
                        Analista programador con conocimientos
                        en lenguajes Java, JavaScript, Python y C#
                        manejando el paradigma de programación
                        orientada a objetos en entornos web MVC.
                    </p>
                    <p class="card-text card-footer border-primary">
                    <small class="text-muted">Parte del equipo de desarrollo.</small>
                    <small>angelvanitas555@gmail.com</small>
                    </p>
                </div>
            </div>
        </div>
    </div>
    <!--/Carta bootstrap-->
    <!--Carta bootstrap KEVIN-->
    <div class="card mb-3 border-primary bg-transparent text-info" style="max-width: 540px;">
        <div class="row g-0">
            <div class="col-md-4">
                <img class="img-fluid p-1 mt-4" src="~/Recursos/kevinteam.png" alt="imagen tania">
            </div>
            <div class="col-md-8">
                <div class="card-body border-primary">
                    <div class="card-header border-primary">
                        <h5 class="card-title">Kevin Lemus</h5>
                    </div>
                    <p class="card-text">
                        Físico Universitario, estudiante de programación
                        en lenguaje C#
                        orientado a los entornos web MVC.
                    </p>
                    <p class="card-text card-footer border-primary">
                    <small class="text-muted">Parte del equipo de desarrollo.</small>
                    <small>cl16033@ues.edu.sv</small>
                    </p>
                </div>
            </div>
        </div>
    </div>
    <!--/Carta bootstrap-->
    <!--Carta bootstrap TANIA-->
    <div class="card mb-3 border-primary bg-transparent text-info" style="max-width: 540px;">
        <div class="row g-0">
            <div class="col-md-4">
                <img class="img-fluid p-1 mt-4" src="~/Recursos/taniateam.png" alt="imagen tania">
            </div>
            <div class="col-md-8">
                <div class="card-body border-primary">
                    <div class="card-header border-primary">
                        <h5 class="card-title">Tania Franco</h5>
                    </div>
                    <p class="card-text">
                        Estudiante de carrera Ing en Sistemas Informáticos,
                        Analista Programadora en lenguaje C# con conocimientos
                        en entorno web MVC y bases de datos relaciones Mysql.
                    </p>
                    <p class="card-text card-footer border-primary">
                    <small class="text-muted">Parte del equipo de desarrollo.</small>
                    <small>francotania219@gmail.com</small>
                    </p>
                </div>
            </div>
        </div>
    </div>
    <!--/Carta bootstrap-->
</div>

