
@{
    ViewBag.Title = "About";
}

<h2 class="mt-5 text-light text-center">PROYECTO FINAL CV# 2021</h2>
<div class="row">
    <div class="badge col-4">
        <div class="card text-dark">
            <div class="card-header">header</div>
            <div class="card-body">CUERPO</div>
            <div class="card-footer">footer</div>
        </div>
    </div>

    <div class="badge col-4">
        <div class="card text-dark">
            <div class="card-header">header</div>
            <div class="card-body">CUERPO</div>
            <div class="card-footer">footer</div>
        </div>
    </div>

    <div class="badge col-4">
        <div class="card text-dark">
            <div class="card-header">header</div>
            <div class="card-body">CUERPO</div>
            <div class="card-footer">footer</div>
        </div>
    </div>
</div>

