
@{
    ViewBag.Title = "About";
}

<div class="mt-5 text-light text-center">
    <h2 class="text-info">PROYECTO FINAL CV# 2021</h2>
</div>
<div class="row">
    <div class="badge col-4">
        <div class="card text-info border-primary bg-transparent">
            <div class="card-header border-primary">Kevin Lemus</div>
            <div class="card-body border-primary">
                <p class="text-info text-wrap fs-6">Físico Universitario, estudiante de programación
                   orientado a los entornos web MVC.
                </p>
            </div>
            <div class="card-footer border-primary">footer</div>
        </div>
    </div>

    <div class="badge col-4">
        <div class="card text-info bg-transparent border-primary">
            <div class="card-header border-primary">Angel Azucena</div>
            <div class="card-body border-primary">
                <p class="text-wrap fs-6 border-primary">Analista programador con conocimientos
                   en lenguajes Java, JavaScript, Python y C#
                   manejando el paradigma de programación 
                   orientada a objetos en entornos web MVC.
                </p>
            </div>
            <div class="card-footer border-primary">footer</div>
        </div>
    </div>

    <div class="badge col-4">
        <div class="card text-info bg-transparent border-primary">
            <div class="card-header border-primary">Tania</div>
            <div class="card-body border-primary">
                <p class="text-wrap fs-6 border-primary">
                Estudiante de carrera Ing en Sistemas Informáticos,
                Analista Programadora en lenguaje C# con conocimientos
                en entorno web MVC y bases de datos relaciones Mysql.
                </p>
            </div>
            <div class="card-footer border-primary">footer</div>
        </div>
    </div>
</div>

