
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Correcto</title>
</head>
<body>
    <div>
        <h2>DATOS AGREGADOS CORRECTAMENTE</h2>
        <label>Regresar al Index</label>
        @Html.ActionLink("CV#-APP", "Index", "Home", new { @class = "text-decoration-none d-inline p-2" })
    </div>
</body>
</html>
